@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #0d0d0d;
  color: #f5f5dc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}
